@font-face {
  font-family: "Verdana",sans-serif;
  font-style: normal;
  font-weight: 400;
  src:url('../../fonts/Verdana.ttf');
}

@font-face {
  font-family: "Verdana",sans-serif;
  font-style: normal;
  font-weight: 700;
  src:url('../../fonts/Verdana Bold.ttf');
}

@font-face {
  font-family: "EBGaramond-Bold.ttf",serif;
  font-style: normal;
  font-weight: 700;
  src:url('../../fonts/EBGaramond-Bold.ttf');
}